// COLORS
$blue: #3d37f1;
$blueDark: #0c0f32;
$blueLight: #8f8bff;
$orange: #ff8923;
$lightBlack: #534d4d;
$darkWhite: #f8f8f8;

$brownDark: #e6ad73;
$brownLight: #dfa871;

$orangeLight: #fbc9a4;
$orangeDark: #ff884a;
$orangeDark2: #ff992e;

$skyBlueDark: #2293b7;
$skyBlueLight: #41eae3;

$purpleDark: #473966;
$purpleLight: #69529f;

$cardBlueDark: #0962c5;
$cardBlueLight: #4386d2;

$indigoDark: #564fd6;
$indigoLight: #a5a2f6;
$indigoDark2: #6651f3;
$indigoLight2: #af94fd;

$redDark: #984141;
$redLight: #ff8088;

$pinkDark: #ff62a3;
$pinkLigth: #ff95a5;

$white: #fff;
$black: #000;
$gray: #ccc;

// FONTS
$roboto: "Roboto", sans-serif;
$lato: "Lato", sans-serif;
$poppins: "Poppins", sans-serif;
