.aboutUs {
  @include flex;
  justify-content: space-between;
  padding: 5rem;

  &__img {
    padding: 5rem;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__playBtn {
    background-color: $blue;
    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    transition: all 0.3s;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }

    img {
      width: 2rem;
      height: 3rem;
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    padding: 5rem;

    @media only screen and (max-width: 768px) {
      text-align: center;
    }

    &--footer {
      @include flex;
      justify-content: space-between;
      margin-top: 2rem;

      &--text {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          height: 0.2rem;
          width: 5rem;
          background-color: $lightBlack;
          top: 50%;
          left: -60%;
        }
      }
    }
  }
}
