.featurs {
  display: flex;
  padding: 10rem 0;

  &__card--box {
    display: flex;
    justify-content: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    height: 30rem;
    width: 90%;
    color: $white;
    padding: 5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 4rem rgba($black, 0.5);
    transition: all 0.3s;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 150%;

    @media only screen and (max-width: 768px) {
      width: 100%;
      height: 50rem;
      margin: 1rem 0;
    }

    &:hover {
      transform: translateY(-1rem) scale(1.02);
    }

    &-1 {
      background-image: linear-gradient(
          rgba($DesignBlue, 0.8),
          rgba($DesignBlue, 0.8)
        ),
        url(../../img/designimg.svg);
    }
    &-2 {
      background-image: linear-gradient(
          rgba($SketchOrange, 0.8),
          rgba($SketchOrange, 0.8)
        ),
        url(../../img/SketchBg.svg);
    }
    &-3 {
      background-image: linear-gradient(
          rgba($TestingBlue, 0.8),
          rgba($TestingBlue, 0.8)
        ),
        url(../../img/TestBg.svg);
    }
  }
}
