.header {
  @include flex;
  justify-content: space-between;
  flex-direction: column;

  min-height: 100vh;
  position: relative;

  &::before {
    content: "";
    width: 65%;
    height: 50%;
    position: absolute;
    top: -2rem;
    right: 0;
    background-image: url(../img/navBg.svg);
    background-size: cover;
  }

  &__nav {
    width: 100%;
    @include flex;
    justify-content: space-between;

    height: 15vh;
    padding: 1rem 5rem;
  }

  &__list {
    @include flex;
    justify-content: flex-end;

    width: 70%;
    z-index: 5;
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__link {
    &:hover {
      background-color: $orange;
    }
  }

  &__hero {
    @include flex;
    justify-content: space-between;

    height: 80vh;

    &--content {
      width: 50%;
      padding-left: 5rem;
    }
    &--img {
      width: 50%;
      padding: 10rem;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
