.header {
  padding: 2rem;

  min-height: 100vh;
  position: relative;

  &::before {
    content: "";
    width: 65%;
    height: 50%;
    position: absolute;
    top: -2rem;
    right: 0;
    background-image: url(../img/navBg.svg);
    background-size: 115%;
    background-position: top left;
    background-repeat: no-repeat;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  &__logo {
    @include flex;
    justify-content: center;
  }

  &__navigation {
    min-height: 20vh;
  }

  &__nav {
    z-index: 5;

    @media only screen and (max-width: 767px) {
      margin-top: 3rem;
    }
  }
  &__list {
    @include flex;
    justify-content: flex-end;
    list-style: none;

    @media only screen and (max-width: 767px) {
      @include flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__link {
    display: inline-block;
    @media only screen and (max-width: 767px) {
      color: $lightBlack;
      margin: 1rem;
    }

    &:hover {
      background-color: $orange;
      color: $white;
    }
  }

  &__hero {
    @include flex;
    min-height: 80vh;

    &--content {
      @media only screen and (max-width: 767px) {
        text-align: center;
      }
    }

    &--img {
      width: 100%;
      padding: 10rem;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
