.workflow {
  @include flex;
  padding: 15rem 5rem;

  &__img {
    img {
    }
  }

  &__ourWorkflow {
    &--title {
    }

    &--items {
    }
  }

  &__list {
    @include flex;
    flex-wrap: wrap;
    list-style: none;
    // background-color: orange;
  }

  &__item {
    @include flex;
    justify-content: space-between;
    width: 45%;
    // background-color: green;
    margin: 1rem;

    &--profile {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      justify-self: flex-start;
      color: $white;
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
      background-color: #f00;
    }

    &--info {
    }
  }
}
