.btn {
  &,
  &:visited,
  &:link {
    font-family: $poppins;
    font-size: 1.6rem;
    display: inline-block;
    padding: 0.8rem 1.9rem;
    text-decoration: none;
    transition: all 0.3s;
    border-radius: 10rem;
    margin-top: 3rem;
  }

  &:hover {
    transform: translateY(-0.5rem);
  }

  &:active {
    transform: translateY(-0.2rem);
  }

  &__icon {
    margin-right: 1rem;
  }

  &__primary {
    color: $white;
    background-color: $blue;
    box-shadow: 0 1rem 2rem rgba($black, 0.3);

    &:hover {
      color: $white;
    }
    &:active {
      box-shadow: 0 1rem 2rem rgba($black, 0.5);
    }
  }
  &__secondary {
    border: 1px solid $white;
    background-color: transparent;
    color: $white;
    box-shadow: none;
    text-transform: capitalize;

    &:hover {
      color: $lightBlack;
      background-color: $white;
    }
  }
}
