.card {
  @include flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

  border: 1px solid $gray;

  border-radius: 3px;
  box-shadow: 0 1rem 3rem rgba($black, 0.3);
  transition: all 0.3s;

  &:hover {
    transform: translateY(-1.2rem) scale(1.01);
  }
}
