.link {
  &,
  &:link,
  &:visited {
    font-size: 1.6rem;
    font-family: $lato;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }

  &-white {
    color: $white;
    border-radius: 10rem;
    padding: 1rem 2rem;
  }

  &-dark {
    color: $lightBlack;
  }
}
